
* {
    color: black
}

body {
    display: grid;
}

header {
    margin-top: -10px;
    text-align: center;
    position: absolute;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    /*border: solid 2px green*/
}

#catBtn {
    margin-left: 60px;

}

#T {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
    border: solid 2px black;
}

#T h2 {
    margin-left: 60px;
    color: black
}

#T h2 button{
    margin-left: 10px;
    color: black;
    font-size: 16px;
    border: solid 2px black;
    background-color: transparent;
    border-radius: 10px;
}

#T h2 button:hover {
    opacity: 75%;
    color: #1DA1F2;
    border: solid 1px black;
}


#SB {
    display: flex;
    justify-content: flex-end;
    /*border: solid 2px blue;*/
    height: 60px;
    justify-content: center;
}

#SB-S {
    display: block;
    padding-right: 7.5px;
    width: 100%;
    height: 60px
}

#SB-S-I{
    margin-top: 1.5px;
    width: 97.5%;
    border: solid .5px black;
    border-radius: 3px;
    color: black
}

#SB-S-B{
    width: 100%;
    color: black;
    background-color: white;
    border-radius: 3px;
    margin-top: 1px;
    border: solid .5px black;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

#SB-S-B:hover{
    opacity: 75%; 
    color: #1DA1F2;
    border: solid 1px black;

}

/* #SB-S-A {
    color: black;
    width: 99.5%;
    border: solid .5px black; 
    border-radius: 3px;
    margin-top: 1px;
    height: 15px;
} */


.content {
    display: block;
    /*height: 100px;*/
    display:flex;
    flex-wrap: wrap;
    /*flex-direction:column;*/
}

.content button {
    color: black;
    /*background-color:lightpink;*/
}

#FML {
    margin-top: 90px;
    /*border: solid 2px turquoise;*/
    width: 100%;
    height: 150px;
    margin-left: 60px;
    display: flex;


}

.W {
    display: flex; 
    border-radius: 5px;
    /*border: solid 2px green;*/
    height: 150px;
    width: 50%;
}

.W-C {
    /*border: solid 2px red;*/
    border: solid 1px black;
    border-radius: 20px;
    width: 100%;
    background-color: white;
}

.W-C-T {
    /*border: solid 1.5px blue;*/
    padding: 5px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}


.W-C-W {
    /*border: solid 1.5px blue;*/
    padding: 5px;
}

.W-C-D {
    /*border: solid 1px blue;*/
    padding: 5px;
    height: 75px;
}

.bigBtnBox {
    width: 100%;
    margin-left: 60px;
    height: 100px;
    margin-top: -10px;
    /*background-color: green;*/
    /*border: solid 1px blue;*/
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btnBox {
    color: white;
    height: 100%;
    margin-top: 0px;
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    /* border: solid 1px black; */
    border-radius: 20px;
    border-top: none;
    justify-content: center;
    align-items: center;
}

.Wbtn {
    border: solid 1px black;
    width: 30%;
    height: 50px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    background-color: white;
}

.Wbtn:hover {
    opacity: 75%;
    color: #1DA1F2;
    border: solid 2px black;
}
#wordSave {
    width: 40%;
}
#wordRemove {
    width: 40%;
}


.P {
    border: solid 2px transparent;
    border-radius: 5px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
    margin-left: 60px;

}

#P1 {
   margin-top: 90px;
   margin-bottom: 10px;
}

#P2 {
    margin-top: -20px;
 }

.PB {
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    border: solid 1px black;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.PB:hover {
    opacity: 75%; 
    color: #1DA1F2;
    border: solid 2px black;
}

.P-P {
    display: none;
}


#N {

    display: flex;
    justify-content: center;
    margin-top: 0px;
    /*border: solid 2px purple;*/
    height: 1600px;
    width: 100%;
}

#N-C {
    /*border: solid 2px red;*/
    width: 100%;
    margin-left: 57.5px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.N-C-N {
    display: flex;
    height: 500px;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 0%;
    border: solid 2px black;
    border-radius: 50px;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2.5px;
}

.N-C-N:hover{ 
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.50s;

}

.title{ 
    background-color: whitesmoke;
    font-size: larger;


}

#B1, #B2, #B3, #B4, #B5, #B6 {
    background-size:contain, cover;
    background-position: center;
    background-repeat: no-repeat;
    /*margin-left: 5%;
    margin-right: 5%;*/
}

@media screen and (max-width: 1200px) {
    #P2 {
        margin-top: 5px;
     }

    .N-C-N {
        height: 400px;
        width: 50%;
    }

    #N-C {
        width: 100%;
        margin-left: 57.5px;
    }

    #N {
        height: 1300px;
    }
    
}



@media screen and (max-width: 1200px) {
    .N-C-N {
        height: 500px;
        width: 100%;
    }

    #N-C {
        width: 100%;
        margin-left: 57.5px;
    }
    #N {
        height: 3100px;
    }
    
}


    

@media screen and (max-width: 825px) {
    .N-C-N {
        height: 300px;
        width: 100%;
    }

    #N-C {
        width: 100%;
    }
    
    #N {
        height: 2500px;
    }
}


@media screen and (max-width: 700px) {
    .title{ 
        background-color: black;
        font-size: 15px;
    
    }
    .N-C-N {
        height: 300px;
        width: 100%;
    }

    #N-C {
        width: 100%;
    }
    #N {
        height: 1900px;
    }
}

@media screen and (max-width: 550px) {
    #T h2 button{
        margin-left: 0px;
    }
    .N-C-N {
        height: 245px;
        width: 100%;
    }

    #N-C {
        width: 100%;
    }

    #N {
        height: 1500px;
    }
    
}