/* Color Palette */

:root {
    --deep-champagne: #F3CEA1;
    --dutch-white: #F3DFC1;
    --eerie-black: #1A1C1A;
}

/* Hamburger Menu Icon */

.M {
    cursor: grab;
    display: inline-block;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.M-BTN-TOG-1 {
    background-color: var(--eerie-black);
    height: 0.5vh;
    margin-bottom: 0.5vh;
    transition: 0.4s;
    width: 5vw;
}

.M-BTN-TOG-2 {
    background-color: var(--eerie-black);
    height: 0.5vh;
    margin-bottom: 0.5vh;
    transition: 0.4s;
    width: 5vw;
}

.M-BTN-TOG-3 {
    background-color: var(--eerie-black);
    height: 0.5vh;
    margin-bottom: 0.5vh;
    transition: 0.4s;
    width: 5vw;
}

/* Not Using Right Now As Far As I Can Tell */

/*
.M-L {
    flex-wrap: wrap;
    float: left;
    padding-left: 15px;
    line-height: 60px;
}


.M-L-I {
    list-style: none;
    display: block;
    float: left;
    padding-left: 0px 10px;
    line-height: 60px;
    text-transform: uppercase;
}

.M-L-I-A {
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    padding: 0 12px;

}
*/


.S {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0; /*calc(100vw - 94vw)*/;
    height: calc(100vh - 13.65vh);
    background-color: #1DA1F2;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}


.S:hover {
    overflow: hidden;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
}

.S-L {
    padding-top: 2vh;
    overflow:hidden;
    visibility: hidden;
}

.S-L-I {
    line-height: 5vh;
    list-style: none;
}

.S-L-I-A, .S-L-I-S{
    display: block;
    height: 5vh;
    padding-left: 5vw;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    line-height: 2vh;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.S-L-I-A:hover {
    cursor: pointer;
    color: black;
}