/*Menu Navigation Start*/

body {
    /* background-image: url('./images/background.jpg'); */
    background-color: whitesmoke;
}

.M {
    position: fixed;
    margin-left: -10px;
    margin-top: -10px;
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;

}

.M-BTN-TOG {
    text-align: center;
    color: white;
    width: 60px;
    height: 100%;
    background-color: black;
    background-image: url('./images/menu.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.M-BTN-TOG:hover {
    opacity: 0.5;
}


.M-L {
    flex-wrap: wrap;
    float: left;
    padding-left: 15px;
    line-height: 60px;
}


.M-L-I {
    list-style: none;
    display: block;
    float: left;
    padding-left: 0px 10px;
    line-height: 60px;
    text-transform: uppercase;
}

.M-L-I-A {
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    padding: 0 12px;

}


.S {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 58px;
    height: calc(100vh - 70px);
    padding: 0 0px;
    background-color: #1DA1F2;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    overflow:hidden;
}


.S:hover {
    overflow:hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.S-L {
    padding-top: 16px;
    /*
    overflow:hidden;
    visibility: hidden;*/

}

.S-L-I {
    line-height: 60px;
    list-style: none;

}

.S-L-I-A, .S-L-I-S{
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;

}

.S-L-I-A:hover {
    cursor: pointer;
    color: blue;
}
/*Menu Navigation End*/